<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>登录</title>
        <!--引入vue框架文件-->
        <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
        <!--引入axios框架文件-->
        <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="user.username"><br>
            <input type="text" v-model="user.password"><br>
            <input type="submit" @click="login()" value="登录">
        </div>
    </body>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    user: {username: "", password: ""}
                }
            },
            methods: {
                login() {
                    axios.post("/v1/users/login", this.user).then(response => {
                        if (response.data.code === 200) {
                            alert("登录成功!")
                            location.href = "/";
                        } else {
                            alert(response.data.msg);
                        }
                    });
                }
            }
        });
    </script>
</html>