<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- import CSS -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
        <style>
            .center {
                width: 1200px;
                margin: 0 auto;
            }

            #footer_center p {
                margin: 0;
            }

            #footer_center h3 {
                color: white;
            }

            body {
                background-color: rgb(241, 242, 243);
            }

            .el-header {
                background-color: white;
            }

            .title_p {
                height: 40px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <el-container>
                <my-header></my-header>
                <el-main class="center">
                    <el-carousel height="375px">
                        <el-carousel-item v-for="banner in bannerList">
                            <img :src="banner.imgUrl" width="100%">
                        </el-carousel-item>
                    </el-carousel>
                    <!--食谱开始-->
                    <el-row style="background-color: white">
                        <el-col span="3">
                            <p style="font-size: 28px;line-height: 65px;margin: 0">烘焙食谱</p>
                        </el-col>
                        <el-col span="21">
                            <!--食谱导航开始-->
                            <el-menu active-text-color="orange" default-active="0"
                                     mode="horizontal" @select="recipeSelect">
                                <el-menu-item index="0">全部</el-menu-item>
                                <el-menu-item v-for="c in recipeCategoryList" :index="c.id">
                                    {{ c.name }}
                                </el-menu-item>
                            </el-menu>
                            <!--食谱导航结束-->
                        </el-col>
                    </el-row>
                    <!--食谱列表开始-->
                    <el-row gutter="20">
                        <el-col v-for="r in recipeList" span="6">
                            <el-card style="margin: 10px 0">
                                <a :href=`/detail.html?id=${r.id}` style="color:#333; text-decoration: none;">
                                    <img :src="r.imgUrl" height="144" width="100%">
                                    <p class="title_p">{{ r.title }}</p>
                                </a>
                                <el-row gutter="20">
                                    <el-col span="4">
                                        <!--圆形图片,专门用来显示头像-->
                                        <el-avatar size="small" :src="r.userImgUrl"></el-avatar>
                                    </el-col>
                                    <el-col span="10">{{ r.nickName }}</el-col>
                                    <el-col span="10">
                                        <span style="float: right;font-size: 12px;color: #ccc">
                                            {{ r.categoryName }}</span>
                                    </el-col>
                                </el-row>
                            </el-card>
                        </el-col>
                    </el-row>
                    <div style="text-align: center;margin-bottom: 20px">
                        <el-button @click="location.href='/contentList.html?type=1'">点击查看更多食谱</el-button>
                    </div>
                    <!--食谱列表结束-->
                    <!--食谱结束-->

                    <!--视频开始-->
                    <el-row style="background-color: white">
                        <el-col span="3">
                            <p style="font-size: 28px;line-height: 65px;margin: 0">烘焙视频</p>
                        </el-col>
                        <el-col span="21">
                            <!--视频导航开始-->
                            <el-menu active-text-color="orange" default-active="0"
                                     mode="horizontal" @select="videoSelect">
                                <el-menu-item index="0">全部</el-menu-item>
                                <el-menu-item v-for="c in videoCategoryList" :index="c.id">
                                    {{ c.name }}
                                </el-menu-item>
                            </el-menu>
                            <!--视频导航结束-->
                        </el-col>
                    </el-row>
                    <!--视频列表开始-->
                    <el-row gutter="20">
                        <el-col v-for="r in videoList" span="6">
                            <el-card style="margin: 10px 0">
                                <a :href=`/detail.html?id=${r.id}` style="color:#333; text-decoration: none;">
                                    <img :src="r.imgUrl" height="144" width="100%">
                                    <p class="title_p">{{ r.title }}</p>
                                </a>
                                <el-row gutter="20">
                                    <el-col span="4">
                                        <!--圆形图片,专门用来显示头像-->
                                        <el-avatar size="small" :src="r.userImgUrl"></el-avatar>
                                    </el-col>
                                    <el-col span="10">{{ r.nickName }}</el-col>
                                    <el-col span="10">
                                        <span style="float: right;font-size: 12px;color: #ccc">{{
                                                r.categoryName
                                            }}</span>
                                    </el-col>
                                </el-row>
                            </el-card>
                        </el-col>
                    </el-row>
                    <div style="text-align: center;margin-bottom: 20px">
                        <el-button @click="location.href='/contentList.html?type=2'">点击查看更多视频</el-button>
                    </div>
                    <!--视频列表结束-->
                    <!--视频结束-->

                    <!--资讯开始-->
                    <el-row style="background-color: white">
                        <el-col span="3">
                            <p style="font-size: 28px;line-height: 65px;margin: 0">行业资讯</p>
                        </el-col>
                        <el-col span="21">
                            <!--资讯导航开始-->
                            <el-menu active-text-color="orange" default-active="0"
                                     mode="horizontal" @select="infoSelect">
                                <el-menu-item index="0">全部</el-menu-item>
                                <el-menu-item v-for="c in infoCategoryList" :index="c.id">
                                    {{ c.name }}
                                </el-menu-item>
                            </el-menu>
                            <!--资讯导航结束-->
                        </el-col>
                    </el-row>
                    <!--资讯列表开始-->
                    <el-row gutter="20">
                        <el-col v-for="r in infoList" span="6">
                            <el-card style="margin: 10px 0">
                                <a :href=`/detail.html?id=${r.id}` style="color:#333; text-decoration: none;">
                                    <img :src="r.imgUrl" height="144" width="100%">
                                    <p class="title_p">{{ r.title }}</p>
                                </a>
                                <el-row gutter="20">
                                    <el-col span="4">
                                        <!--圆形图片,专门用来显示头像-->
                                        <el-avatar size="small" :src="r.userImgUrl"></el-avatar>
                                    </el-col>
                                    <el-col span="10">{{ r.nickName }}</el-col>
                                    <el-col span="10">
                                        <span style="float: right;font-size: 12px;color: #ccc">
                                            {{ r.categoryName }}</span>
                                    </el-col>
                                </el-row>
                            </el-card>
                        </el-col>
                    </el-row>
                    <div style="text-align: center;margin-bottom: 20px">
                        <el-button @click="location.href='/contentList.html?type=3'">点击查看更多资讯</el-button>
                    </div>
                    <!--资讯列表结束-->
                    <!--资讯结束-->
                </el-main>
                <el-footer style="height: 280px; background-color: #2f3234; padding:50px 0">
                    <my-footer></my-footer>
                </el-footer>
            </el-container>
        </div>
    </body>
    <!-- import Vue before Element -->
    <script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
    <!-- import JavaScript -->
    <script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
    <!--引入axios框架文件-->
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <!--引入头部组件js文件-->
    <script src="js/my-header.js"></script>
    <script src="js/my-footer.js"></script>
    <script>
        let v = new Vue({
            el: '#app',
            data: function () {
                return {
                    recipeList: [],
                    videoList: [],
                    infoList: [],
                    bannerList: [],
                    recipeCategoryList: [],
                    videoCategoryList: [],
                    infoCategoryList: []
                }
            },
            methods: {
                recipeSelect(key, keyPath) {
                    this.loadContent(1, key);
                },
                videoSelect(key, keyPath) {
                    this.loadContent(2, key);
                },
                infoSelect(key, keyPath) {
                    this.loadContent(3, key);
                },
                loadContent(type, categoryId) {
                    // 请求指定一级分类type下的指定二级分类下的内容
                    axios.get(`/v1/contents/${type}/${categoryId}/index`).then(response => {
                        if (response.data.code === 200) {
                            switch (type) {
                                case 1:
                                    this.recipeList = response.data.data;
                                    break;
                                case 2:
                                    this.videoList = response.data.data;
                                    break;
                                case 3:
                                    this.infoList = response.data.data;
                            }
                        }
                    });
                }
            },
            created() {
                this.loadContent(1, 0);
                this.loadContent(2, 0);
                this.loadContent(3, 0);
                // 请求轮播图数据
                axios.get("/v1/banners/").then(response => {
                    if (response.data.code === 200) {
                        this.bannerList = response.data.data;
                    }
                });
                // 根据食谱分类ID请求对应二级分类
                axios.get("/v1/categories/1/sub").then(response => {
                    if (response.data.code === 200) {
                        this.recipeCategoryList = response.data.data;
                    }
                });
                // 根据视频分类ID请求对应二级分类
                axios.get("/v1/categories/2/sub").then(response => {
                    if (response.data.code === 200) {
                        this.videoCategoryList = response.data.data;
                    }
                });
                // 根据资讯分类ID请求对应二级分类
                axios.get("/v1/categories/3/sub").then(response => {
                    if (response.data.code === 200) {
                        this.infoCategoryList = response.data.data;
                    }
                });
            }
        })
    </script>
</html>